{% extends  'base_admin.html' %}
{% load static %}
{% block submenu-superior %}
    <h1 class="h3 mb-0 text-gray-800">Productos - {{ establecimiento.nombre_establecimiento }}</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'panel' %}">Resumen</a></li>
        <li class="breadcrumb-item active" aria-current="page">Productos</li>
    </ol>
{% endblock %}
{% block content %}

    <!-- DataTable with Hover -->
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Tablero de Productos</h6>
            </div>
            <div class="table-responsive p-3">
                <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre producto</th>
                        <th>Cantidad existente</th>
                        {% if request.user.rol == False %}
                            <th>Costo</th>
                        {% endif %}
                        <th>Precio venta</th>
                        <th>Establecimiento</th>
                        <th>Operaciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre producto</th>
                        <th>Cantidad existente</th>
                        {% if request.user.rol == False %}
                            <th>Costo</th>
                        {% endif %}
                        <th>Precio venta</th>
                        <th>Establecimiento</th>
                        <th>Operaciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for producto_es in productos %}
                        <tr>
                            <td>
                                {% if producto_es.producto.imagen %}
                                    <img src="{{ producto_es.producto.imagen.url }}" class="img-fluid" alt="" width="50px" height="50px">
                                {% else %}
                                    <img src="{% static 'control_panel/img/hc_login.png' %}" class="img-fluid" alt="" width="50px" height="50px">
                                {% endif %}
                            </td>
                            <td>{{ producto_es.producto.nombre_producto }}</td>
                            <td>{{ producto_es.cantidad_existente }}</td>
                            {% if request.user.rol == False %}
                                <td>{% widthratio producto_es.producto.costo 1 tasa.tasa %} CUP</td>
                            {% endif %}
                            <td>{{ producto_es.precio_venta }} CUP</td>
                            <td>{{ producto_es.establecimiento.nombre_establecimiento }}</td>
                            <td width="20%">
                                {% if request.user.rol == False %}
                                    <a href="#" data-url="{% url 'edit_product_establecimiento' producto_es.id %}" data-toggle="modal"
                                       class="btn btn-primary btn-sm waves-black"
                                       data-id="{{ producto_es.id }}"
                                       data-precio_venta="{{ producto_es.precio_venta }}"
                                       style="background: linear-gradient(to bottom right, #fc4212, #ff5700); "
                                       title="Modificar precio venta"
                                       data-target="#confirm-modify">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                {% endif %}
                                <a href="#" data-url="{% url 'add_incrementar' producto_es.id %}" data-toggle="modal"
                                   class="btn btn-primary btn-sm waves-black" data-id="{{ producto_es.id }}"
                                   style="background: linear-gradient(to bottom right, #fc4212, #ff5700); "
                                   title="Incrementar producto"
                                   data-target="#confirm-incrementar">
                                    <i class="fas fa-hand-point-up"></i>
                                </a>
                                {% if request.user.rol == False %}
                                    <a href="#" data-url="{% url 'add_merma' producto_es.id %}" data-toggle="modal"
                                       class="btn btn-primary btn-sm waves-black" data-id="{{ producto.id }}"
                                       style="background: linear-gradient(to bottom right, #fc4212, #ff5700); "
                                       title="Mermar producto"
                                       data-target="#confirm-merma">
                                        <i class="fas fa-hand-point-down"></i>
                                    </a>
                                {% endif %}
                                <a href="#" data-toggle="modal"
                                   class="btn btn-primary btn-sm waves-pay" data-id="{{ producto_es.id }}"
                                   style="background: linear-gradient(to bottom right, #fc4212, #ff5700);"
                                   title="Vender producto"
                                   data-target="#confirm-buy">
                                    <i class="fas fa-money-bill"></i>
                                </a>
                                <a href="{% url 'traslado' producto_es.establecimiento.slug producto_es.producto.slug %}"
                                   title="Trasladar Producto"
                                   style="background: linear-gradient(to bottom right, #fc4212, #ff5700); "
                                   class="btn btn-primary btn-sm">
                                    <i class="fas fa-truck"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal Incrementar -->
    <div class="modal fade" id="confirm-incrementar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregue la cantidad de producto a incrementar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add_incrementar_form" action="" method="post">{% csrf_token %}
                      <div class="form-group">
                        <label for="count-incrementar" class="col-form-label">Cantidad:</label>
                        <input type="number" name="count_incrementar" class="form-control" id="count-incrementar">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-secondary btn-ok" style="background-color: #ff5700;">Incrementar</button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Merma -->
    <div class="modal fade" id="confirm-merma" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregue la cantidad de producto a mermar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add_merma_form" action="" method="post">{% csrf_token %}
                      <div class="form-group">
                        <label for="count-merma" class="col-form-label">Cantidad:</label>
                        <input type="number" name="count_merma" class="form-control" id="count-merma">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-secondary btn-ok" style="background-color: #ff5700;">Mermar</button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Vender-->
    <div class="modal fade" id="confirm-buy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Vender</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
{#                        <h4 class="font-weight-bold text-primary text-center">Total: {{ total_pagar }} CUP</h4>#}
                        <form id="data_buy_form" method="post" action="" class="needs-validation" novalidate>{% csrf_token %}
                          <div class="form-group">
                            <label for="super_count" class="col-form-label">Forma de pago:</label>
                            <select class="form-control" id="typePaysSelector" name="payment_type" aria-label="Default select example" required>
                              <option selected disabled="disabled">Seleccione una forma de pago</option>
                              <option value="cash">Efectivo</option>
                              <option value="transfer">Transferencia</option>
                              <option value="credit">Crédito</option>
                              <option value="home_account">Cuenta casa</option>
                            </select>
                          </div>

                          <div id="count_product" class="form-group has-error">
                            <label for="count_product_var" class="col-form-label">Cantidad de producto:</label>
                            <input type="number" name="count_product_var"
                                   class="form-control required" id="count_product_var"  >
                            <div id="shieldRequired" class="invalid-feedback">El campo no debe estar vacio.</div>
                            <div id="shieldCountProduct" class="invalid-feedback">El cantidad solicitada es mayor que la cantidad existente.</div>
                          </div>
                            <div id="deudor_id" style="display:none" class="form-group has-error">
                              <label for="deudor_name" class="col-form-label">Deudor:</label>
                              <input type="text" name="deudor_name" class="form-control" id="deudor_name" >
                              <div id="shieldTransRequired" class="invalid-feedback">El campo no debe estar vacio.</div>
                            </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-secondary btn-ok" style="background: linear-gradient(to bottom right, #fc4212, #ff5700); " >Vender</button>
                          </div>
                        </form>
                    </div>
                </div>

        </div>
    </div>
    <!-- Modal Modificar -->
    <div class="modal fade" id="confirm-modify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifique el precio de venta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="edit_modify_form" action="" method="post">{% csrf_token %}
                      <div class="form-group">
                        <label for="precio_venta" class="col-form-label">Precio:</label>
                        <input type="number" name="precio_venta" class="form-control" id="precio_venta">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-secondary btn-ok" style="background-color: #ff5700;">Modificar</button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <!-- Page level plugins -->
    <script src="{% static 'control_panel/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'control_panel/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable(); // ID From dataTable
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>
    <script>
        $(document).on('click','.waves-black',function(){
            var id = $(this).data('id');
            console.log(id)
            $("#add_incrementar_form").attr("action", "add_incrementar/" + id);
        });
    </script>
    <script>
        $(document).on('click','.waves-black',function(){
            document.forms["edit_modify_form"]['precio_venta'].value = $(this).data('precio_venta');
        });
    </script>
    <script>
        $(document).on('click','.waves-black',function(){
            var id = $(this).data('id');
            var precio_venta = $(this).data('precio_venta');
            console.log(id)
            console.log(precio_venta)
            $("#edit_modify_form").attr("action", "edit_product_establecimiento/" + id);
        });
    </script>
    <script>
        $(document).on('click','.waves-black',function(){
            var id = $(this).data('id');
            console.log(id)
            $("#add_merma_form").attr("action", "add_merma/" + id);
        });
    </script>
    <script>
        $(document).ready(function(){
            $('#typePaysSelector').on('change', function() {
              if ( this.value === 'credit'){
                $("#count_product").show();
                $("#deudor_id").show();
              }
              else {
                $("#count_product").show();
                $("#deudor_id").hide();
              }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).on('click','.waves-pay',function(){
            const element = document.getElementsByName("count_product_var");
            const id = $(this).data('id');
            console.log(id)
            console.log(element)
            $("#data_buy_form").attr("action", "buy/" + id);
        });
    </script>

{% endblock %}