{% extends  'base_admin.html' %}
{% load static %}
{% block submenu-superior %}
    <h1 class="h3 mb-0 text-gray-800">Modificar Material</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Gestión del sitio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'materiales' %}">Materiales</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modificar Material</li>
    </ol>
{% endblock %}
{% block content %}

    <!-- DataTable with Hover -->
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"></h6>

            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" method="post">{% csrf_token %}
                    {% for hidden in material.hidden_fields %}
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"
                                   for="{{ hidden.name }}">{{ hidden.label }}</label>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ hidden }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for field in update_form %}
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="{{ field.name }}">{{ field.label }}</label>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ field }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"
                                   for="{{ form.name }}">{{ form.label }}</label>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" style="background: linear-gradient(to bottom right, #fc4212, #ff5700); ">Modificar Producto</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <!-- Page level plugins -->
    <script src="{% static 'control_panel/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'control_panel/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable(); // ID From dataTable
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>

{% endblock %}