{% extends  'base_admin.html' %}
{% load static %}
{% block submenu-superior %}
    <h1 class="h3 mb-0 text-gray-800">Reporte de gastos</h1>
    <ol class="breadcrumb">
        {% if request.user.rol == False or request.user.is_superuser %}
            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Resumen</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">Gastos</li>
    </ol>
{% endblock %}
{% block content %}

    <!-- DataTable with Hover -->
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
{#                <div>#}
{#                    <a href="#" data-toggle="modal" style="background: linear-gradient(to bottom right, #fc4212, #ff5700); " class="btn btn-primary btn-sm" title="Gastos"#}
{#                       data-target="#confirm-gasto"> <i class="fas fa-sort-amount-down"></i> Gasto#}
{#                    </a>#}
{#                </div>#}
                <h6 class="m-0 font-weight-bold text-primary">Tablero de gastos</h6>
                <a href="#" data-toggle="modal" data-target="#confirm-gasto" type="button"
                   class="btn btn-primary mb-1" style="background-color: #ff5700;"><i
                        class="fas fa-sort-amount-down"></i> Agregar</a>

            </div>
            <div class="table-responsive p-3">
                <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Concepto</th>
                        <th>Monto</th>
                        {% if request.user.rol == False %}
                            <th>Establecimiento</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Concepto</th>
                        <th>Monto</th>
                        {% if request.user.rol == False %}
                            <th>Establecimiento</th>
                        {% endif %}
                    </tr>
                    </tfoot>
                    <tbody>
                    {% if request.user.rol == True %}
                        {% for gasto in gastos_store %}
                            <tr>
                                <td>{{ gasto.fecha_gasto|date:'d/m/Y' }}</td>
                                <td>{{ gasto.fecha_gasto|time:'g:iA'|lower }}</td>
                                <td>{{ gasto.concepto }}</td>
                                <td>{{ gasto.monto_gasto }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for gasto in gastos %}
                            <tr>
                                <td>{{ gasto.fecha_gasto|date:'d/m/Y' }}</td>
                                <td>{{ gasto.fecha_gasto|time:'g:iA'|lower }}</td>
                                <td>{{ gasto.concepto }}</td>
                                <td>{{ gasto.monto_gasto }}</td>
                                <td>{{ gasto.establecimiento.nombre_establecimiento }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal Gasto -->
    <div class="modal fade" id="confirm-gasto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Gasto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
{#                        <h4 class="font-weight-bold text-primary text-center">CUP</h4>#}
                        <form id="data_gastos_form" method="post" action="" class="needs-validation" novalidate>{% csrf_token %}

                          <div id="monto_client" class="form-group has-error">
                            <label for="concepto" class="col-form-label">Nombre:</label>
                            <input type="text" name="concepto"
                                   class="form-control required" id="concepto"  >
                            <div id="shieldRequired" class="invalid-feedback">El campo no debe estar vacio.</div>
                          </div>
                          <div id="monto_client" class="form-group has-error">
                            <label for="gasto_amount" class="col-form-label">Monto del gasto:</label>
                            <input type="number" name="gasto_amount"
                                   class="form-control required" id="gasto_amount"  >
                            <div id="shieldRequired2" class="invalid-feedback">El campo no debe estar vacio.</div>
                            <div id="shieldAmount" class="invalid-feedback">El monto del gasto no debe ser 0.</div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                            <input type="button"  class="btn btn-primary btn-ok" style="background-color: #ff5700;" id="pagar3" name="pagar3"
                                   value="Guardar" onclick="submitFunction(0)"/>
                          </div>
                        </form>
                    </div>
                </div>

        </div>
    </div>

{% endblock %}
{% block js %}
    <!-- Page level plugins -->
    <script src="{% static 'control_panel/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'control_panel/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable(); // ID From dataTable
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>

    <script>
        function submitFunction(i) {
            const conceptoVar = $('#concepto');
            const gastoAmount = $('#gasto_amount');
            if (!conceptoVar.val()){
               $("#shieldRequired").show();
               i.preventDefault();
            }else if (!gastoAmount.val()){
               $("#shieldRequired2").show();
               i.preventDefault();
            }
            else{
               $("#shieldRequired").hide();
               $("#shieldRequired2").hide();
               if (gastoAmount.val() === 0){
                   $("#shieldAmount").show();
                   i.preventDefault();
               }else {
                   $("#data_gastos_form").attr("action", "productos/add_spending");
               }
            }
            document.forms["data_gastos_form"].submit()
        }
    </script>

{% endblock %}