{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'control_panel/img/hc_login.png' %}" rel="icon">
    <title>HCControl | Administración</title>

    <link href="{% static 'control_panel/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'control_panel/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'control_panel/css/ruang-admin.min.css' %}" rel="stylesheet">
    <link href="{% static 'control_panel/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'control_panel/css/payment_style.css' %}" rel="stylesheet">
    <link href="{% static 'control_panel/dataspicker/css/gijgo.min.css' %}" rel="stylesheet">
    <link href="{% static 'control_panel/dataspicker/css/datepicker.min.css' %}" rel="stylesheet">

    <style>
         a, a:hover, a:focus, a:active {
              text-decoration: none;
              color: inherit;
         }
    </style>
</head>

<body id="page-top">
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
            <div class="sidebar-brand-icon">
                <img src="{% static 'control_panel/img/icono/HC.png' %}" alt="logo">
            </div>
            <div class="sidebar-brand-text mx-4">Gestión</div>
        </a>

        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'panel' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Resumen</span></a>
        </li>
        <!-- Dependientes-->
         {% if request.user.rol == True %}
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                {% if puntos_venta.count == 1 %}
                    Establecimiento
                {% else %}
                    Establecimientos
                {% endif %}
            </div>
            {% for punto in puntos_venta %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos_establecimientos' punto.slug %}">
                        <i class="fas fa-fw fa-home"></i>
                        <span>{{ punto.nombre_establecimiento }}</span>
                    </a>
                </li>
            {% endfor %}
         {% endif %}
        <!-- Administrador-->
        {% if request.user.rol == False or request.user.is_superuser %}
            <hr class="sidebar-divider">
            <div class="sidebar-heading">Establecimientos</div>
            {% if puntos_venta_all %}
                <li class="nav-item">
                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseBootstrap2"
                       aria-expanded="true" aria-controls="collapseBootstrap2">
                        <i class="fas fa-fw fa-home"></i>
                        <span>Puntos de venta</span>
                    </a>
                    <div id="collapseBootstrap2" class="collapse" aria-labelledby="headingBootstrap"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            {% for punto in puntos_venta_all %}
                               <a class="collapse-item" href="{% url 'productos_establecimientos' punto.slug %}">
                                   {{ punto.nombre_establecimiento }}
                               </a>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'productos' %}">
                    <i class="fas fa-fw fa-warehouse"></i>
                    <span>Almancén</span>
                </a>
            </li>
        {% endif %}

        <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Gestión
            </div>

                <li class="nav-item">
                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseBootstrap"
                       aria-expanded="true" aria-controls="collapseBootstrap">
                        <i class="far fa-fw fa-clipboard"></i>
                        <span>Operaciones</span>
                    </a>
                    <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Operaciones</h6>
                            {% if request.user.rol == False or request.user.is_superuser %}
                                <a class="collapse-item" href="{% url 'categories_productos' %}"><i class="fas fa-fw fa-chalkboard"></i> Categorías</a>
                                <a class="collapse-item" href="{% url 'establecimientos' %}"><i class="fas fa-fw fa-home"></i> Establecimientos</a>
                                <a class="collapse-item" href="{% url 'monedas' %}"><i class="fas fa-fw fa-coins"></i> Tipo moneda</a>
                                <a class="collapse-item" href="{% url 'ficha_tecnica' %}"><i class="fas fa-fw fa-book"></i> Fichas Técnicas</a>
                                <a class="collapse-item" href="{% url 'auditorias' %}"><i class="fas fa-truck-loading"></i> Auditor&iacute;a materiales</a>
                            {% endif %}
                            {% if request.user.rol == True %}
                                {% if puntos_venta.first %}
{#                                    <a class="collapse-item" href="{% url 'mermas_store' puntos_venta.first.slug %}"><i class="fas fa-hand-point-down"></i> Mermas</a>#}
                                    <a class="collapse-item" href="{% url 'entradas_store' puntos_venta.first.slug %}"><i class="fas fa-hand-point-up"></i> Entradas</a>
                                    <a class="collapse-item" href="{% url 'ventas_diaria_store' puntos_venta.first.slug %}"><i class="fas fa-money-bill"></i> Resumen ventas</a>
                                    <a class="collapse-item" href="{% url 'expenses_store' puntos_venta.first.slug %}"><i class="fas fa-sort-amount-down"></i> Gastos</a>
                                    <a class="collapse-item" href="{% url 'traslados_store' puntos_venta.first.slug %}"><i class="fas fa-truck"></i> Traslados</a>
                                {% endif %}
                            {% else %}
                                <a class="collapse-item" href="{% url 'ventas_deudor' %}"><i class="fas fa-archive"></i> Deudores</a>
                                <a class="collapse-item" href="{% url 'mermas' %}"><i class="fas fa-hand-point-down"></i> Mermas</a>
                                <a class="collapse-item" href="{% url 'entradas' %}"><i class="fas fa-hand-point-up"></i> Entradas</a>
                                <a class="collapse-item" href="{% url 'ventas_diaria' %}"><i class="fas fa-money-bill"></i> Resumen ventas</a>
                                <a class="collapse-item" href="{% url 'expenses' %}"><i class="fas fa-sort-amount-down"></i> Gastos</a>
                                <a class="collapse-item" href="{% url 'traslados' %}"><i class="fas fa-truck"></i> Traslados</a>
                            {% endif %}
                        </div>
                    </div>
                </li>

            {% if request.user.rol == False or request.user.is_superuser %}
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Gestión de Usuarios
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usuarios' %}">
                        <i class="fas fa-fw fa-users"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
            {% endif %}

        <hr class="sidebar-divider">
        <div class="version" id="">Versión 1.0</div>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- TopBar -->
            <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {% if request.user.sexo == True %}
                                <img class="img-profile rounded-circle" src="{% static 'control_panel/img/girl.png' %}"
                                     style="max-width: 60px">
                                <span class="ml-2 d-none d-lg-inline text-white small">
                                {{ request.user.username }}
                                </span>
                            {% else %}
                                <img class="img-profile rounded-circle" src="{% static 'control_panel/img/boy.png' %}"
                                     style="max-width: 60px" alt="">
                                <span class="ml-2 d-none d-lg-inline text-white small">
                                {{ request.user.username }}
                                </span>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            {#                            <a class="dropdown-item" href="#">#}
                            {#                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>#}
                            {#                                Perfil#}
                            {#                            </a>#}
                            {#                            <a class="dropdown-item" href="#">#}
                            {#                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>#}
                            {#                                Cambiar contraseña#}
                            {#                            </a>#}

                            {#                            <div class="dropdown-divider"></div>#}
                            <a class="dropdown-item" href="{% url 'salir' %}">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Salir
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- Topbar -->

            <!-- Container Fluid-->
            <div class="container-fluid" id="container-wrapper">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    {% block submenu-superior %}

                    {% endblock %}

                </div>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div id="message_container" class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h6><i class="fas fa-check"></i><b>Error!
                                </b></h6>
                                {{ message }}
                            </div>
                        {% else %}
                            <div id="message_container2" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible"
                                 role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h6><i class="fas fa-check"></i><b>
                                    {% if message.tags == 'success' %}
                                        Satisfactorio!
                                    {% elif message.tags == 'warning' %}
                                        Advertencia!
                                    {% endif %}
                                </b></h6>
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="row mb-3">
                    {% block content %}

                    {% endblock %}
                </div>
                <!--Row-->

                {#                <div class="row">#}
                {#                    <div class="col-lg-12 text-center">#}
                {#                        <p>Do you like this template ? you can download from <a#}
                {#                                href="https://github.com/indrijunanda/RuangAdmin"#}
                {#                                class="btn btn-primary btn-sm" target="_blank"><i class="fab fa-fw fa-github"></i>&nbsp;GitHub</a>#}
                {#                        </p>#}
                {#                    </div>#}
                {#                </div>#}

            </div>
            <!---Container Fluid-->
        </div>
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - Desarrollado por
              <b><a href="https://www.facebook.com/Habanatrans" target="_blank">Equipo PachoHabanaTrans</a></b>
            </span>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    </div>
</div>

<!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script src="{% static 'control_panel/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'control_panel/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'control_panel/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'control_panel/js/ruang-admin.min.js' %}"></script>
<script src="{% static 'control_panel/dataspicker/js/gijgo.min.js' %}"></script>
<script>
    const message_ele = document.getElementById("message_container");
    const message_ele2 = document.getElementById("message_container2");
    setTimeout(function(){
       message_ele.style.display = "none";
    }, 3000);
    setTimeout(function(){
       message_ele2.style.display = "none";
    }, 3000);
</script>

{% block js %}

{% endblock %}
</body>

</html>