{% extends  'base_admin.html' %}
{% load static %}
{% block submenu-superior %}
    <h1 class="h3 mb-0 text-gray-800">Resumen</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Resumen</li>
    </ol>
{% endblock %}
{% block content %}



{% endblock %}
{% block js %}
    <!-- Page level plugins -->
    <script src="{% static 'control_panel/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'control_panel/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'control_panel/dataspicker/js/gijgo.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable(); // ID From dataTable
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>
    <script>
        $('#confirm-open').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });

        $('#confirm-close').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });

        $('#confirm-close-venta').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>

    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4',
            startView: 2,
            todayBtn: "linked",
            language: "es",
            format: "yyyy-mm-dd",

        });

    </script>
{% endblock %}